<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech EStore</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Welcome to the Tech EStore</a>
      </h1>
      <nav>
        {{!-- add a homepage, product, category, and cart nav --}}
        <a href="/">Homepage</a> |
        <a href="/profile">Profile</a> |
        <a href="/cart">Cart</a> |
        {{#if logged_in}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <div>
        <h2>
          Tech Products
        </h2>
      </div>
      <div>
        {{{ body }}}
      </div>
    </main>
    <footer>
      
    </footer>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
