{{!-- this template displays items in the users cart --}}


<button product-id="{{id}}" id="increment">Add Quantity</button>
<button product-id="{{id}}" id="decrement">Lower Quantity</button>

<button product-id="{{id}}" id="#checkout">Check Out</button>

<script src="/js/updateCart.js"></script>