{{!-- this template displays items in the users cart --}}

{{#each productCarts as | productCart |}}


<div class="product-quantity">
    <p>{{productCart.quantity}}</p>
    <button product-id="{{id}}" id="increment">Add Quantity</button>
    <button product-id="{{id}}" id="decrement">Lower Quantity</button>
</div>
{{/each}}



<button product-id="{{id}}" id="#checkout">Check Out</button>

<script src="/js/cart.js"></script>