<!-- Loop over each object in the products array -->
{{#each Products as |product| }}
<div class="row mb-4 product">
    <div class="col-md-5">
        <p>
          <span for="img" aria-label="Products">💲</span>
          <!-- Pass needed_funding value to the helper function -->
          <span class="product-name">{{product.name}}</span>
        </p>
</div>
<div class="col-md-7">
    <p>
      {{product.description}}
    </p>
</div>
</div>
{{/each}}
