<div class="section">
    <div class="col-md-6">
        <p>Already have a Account?</p>
        <h2 class="Login has-size-5 has-text-weight-bold has-text-color-blue" >Login</h2>
        
        <form class="form login-form">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <p>Create a new Account</p>
        <h2 class="signup has-size-5 has-text-weight-bold has-text-color-blue">Signup</h2>

        <form class="form signup-form">
            <div class="form=group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form=group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form=group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form=group">
                <button class="btn btn-primary" type="submit">Signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>