<div class="text-center">
  <h2>{{Product_name}}</h2>
  <p>{{description}}</p>
  
  <p>
    <span for="img" aria-label="Product_name">💲</span>
    <span class="Poduct-description">{{format_amount needed_funding}}</span>
    
  </p>
  <p>
    <button class="btn btn-primary">Add to cart</button>
  </p>
</div>
